#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: black;
}

.logo {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-links li {
  margin: 20px;
}

.nav-links a {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  padding: 10px;
}
/* Main Content */
.main-content {
  margin-left: 250px;
  margin-bottom: 100px;
  padding-left: 20px;
}

/* Footer */
.footer {
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;

  z-index: 10000;
}

.footer .social-links a {
  color: white;
  margin: 10px;
  font-size: 1rem;
}

.footer .social-links a:hover {
  color: blue;
}
